 #leftimg {
    float:left;
    margin: 15px 15px 15px 0; 
   }
#s1
{
    width:100%;
    background-color:#;
    height:400px;
}
   #t
   {
       background:#;
       width:900;
   }
      .t1
   {
       background:#;
   }

#s2
{
    width:100%;
    background-color:#;
    height:250px;
}
#footer {
    background: #; 
    color: #; 
    width: 100%;
   }
@media (min-device-width:700px )
{
#s1
{
    width:100%;
    background-color:#;
    height:250px;
}
#s2
{
    width:100%;
    background-color:#;
    height:40px;
}
}



   h1 {
    font-family: Pompadur, 'Arial';
    font-size: 80px;
    background-color:#;
    height: 230;
    color: #;
   }
   
    html {background-color:#ffffff;
    height: 100%; 
   }
   body {
      width:100%;
      background:#FFFFFF;
    background-position: top left ; 
    background-repeat: no-repeat; 
   }
